<script src="http://responsivevoice.org/responsivevoice/responsivevoice.js"></script>
<script src="http://code.jquery.com/jquery-git2.js"></script>
<h3>Name of Speech:<%=@speech.name%></h3>

<textarea id="text" cols="45" rows="3">
<%= @speech.text_of_uploaded_content%></textarea>
</script>
<div>

</div>

<input onclick="responsiveVoice.speak($('#text').val(),$('#voiceselection').val());" type="button" value="Play"/>
<%political_percents%>

<%= render partial: 'speeches/graph'%>




